body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: #F6E5DC;
}

.baner {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

.panel-lewy {
    width: 60%;
    box-sizing: border-box;
    padding-right: 10px;
}

.panel-prawy {
    width: 40%;
    box-sizing: border-box;
    padding: 70px;
    font-size: 150%;
}

.panel-dolny {
    width: 100%;
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.stopka {
    background-color: #2F180C;
    color: khaki;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.menu-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.btn {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="text"],
form input[type="date"],
form input[type="number"] {
    width: 200px;
    margin: 6px 0 12px 0;
    padding: 4px;
}

.zgoda {
    display: inline-block;
    margin-bottom: 8px;
}